.developers-container {
  padding: 40px 20px;
  text-align: center;
  margin-top: 60px; 
}

.developers-container h1 {
  font-size: 2.5em;
  color: #0909f4; 
  margin-bottom: 40px;
}

.cards-grid {
  display: flex;
  flex-wrap: wrap; 
  gap: 70px; 
  
  justify-content: center; 
  
  max-width: 860px; 
  margin: 0 auto; 
}

.developer-card {
    width: 240px; 
}

/* Opcional */
@media (max-width: 768px) {
  .cards-grid {
    grid-template-columns: repeat(1, minmax(240px, 1fr));
  }
}





