.main-header {
  background-color: #0000FF;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px 0;
  text-align: left;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
 
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  padding-right: 80px; 
}

.main-header h1 {
  color: #f6f6f6;
  font-size: 3.5em;
  margin-left: 80px;
  font-weight: 900;
  letter-spacing: 1px;
}

.titulo-busca {
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;

  font-size: 3.3em;
  color: #0909f4;

  font-weight: 800;
  
  margin-bottom: 60px;
}

.search-box {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 500px;
  margin: 0 auto 30px;
  
  border: 3px solid #0000FF;
  border-radius: 40px;
  overflow: hidden;
}

.cep-input {
  flex: 1;
  padding: 0 20px;
  height: 55px;
  font-size: 1.2em;
  border: none;
  outline: none;
}

.cep-input:focus {
  border-color: transparent;
  box-shadow: none;
  outline: none;
}

.btn-busca {
  background-color: #0000FF;
  color: white;
  width: 140px;
  height: 55px;
  border: none;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-size: 1.1em;
  cursor: pointer;
}

.container {
  width: 90%;
  max-width: 500px;
  margin-top: 120px;
  margin-left: auto;
  margin-right: auto;
  
}

.resultado {

  background-color: white;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);

  border: 5px solid #0000FF;
  width: 90%;
  max-width: 500px;

  margin: 25px auto;
  padding: 30px;
}


.resultado p {
  font-size: 1.1em;
  margin: 8px 0;

  display: flex;
  align-items: center; 
  gap: 8px; 
}

.resultado strong {
  color: #190ee0;
  min-width: 100px;
  display: inline-block;
}



.main-nav {
  display: flex;
  gap: 20px; 
  align-items: center;
}

.nav-link {
  color: white; 
  text-decoration: none; 
  font-size: 1.2em;
  font-weight: 600;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s;

  display: flex;
  align-items: center; 
  gap: 8px; 
}

.nav-link:hover {
  background-color: rgba(255, 255, 255, 0.2); 
}
