* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light; 
}

a {
  font-weight: 500;
  color: #04073e;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
    background-color: transparent;
    background-image: url("./assets/mapa.jpg");
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    
    min-height: 100vh;
    
    color: #333; 
    
    margin-top: 100px; 
}

